<div class="sidebar">
    <div class="logo">Crafty Commerce</div>
    <div class="links">
      <ul>
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
          <a routerLink="/products">Products</a>
        </li>
        <li>
          <a routerLink="/categories">Categories</a>
        </li>
        <li>
          <a routerLink="/orders">Orders</a
          >
        </li>
        <li>
          <a routerLink="/users">Users</a>
        </li>
        <li>
          <a routerLink="/csv">CSV Upload</a>
        </li>
        <li>
          <a  style="cursor: pointer" class="logout">Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
  
